<div class="container-fluid slim-content" style="padding:0;overflow: hidden">
    <section class="content-header">
        <ol class="breadcrumb">
            <li><i class="fa fa-home"></i>Home</li>
            <li><i class="fa fa-techometer"></i>Dashboard</li>
        </ol>
    </section>
    <div class="row intial-row base-content" style="padding:10px 0 0 0">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 panel panel-default asset-info" style="margin:0px;padding:0; border: transparent;background:transparent;overflow: hidden;">
            <div class="col-lg-3 col-xs-6" style="padding-right:10px;padding-left:10px">
                <!-- small box -->
                <div class="small-box bg-blue" style="height: 100px;">
                    <div class="inner">
                        <h3>{{asset_info.students}}</h3>
                        <p>Students</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-users" style="color: white;"></i>
                    </div>
                    <!--<a href='#' ng-click="updateLink(true,'inventoryTree','nav-spot')" id="nav-spot" class="small-box-footer">
                        More info <i class="fa fa-arrow-circle-right"></i>
                    </a>-->
                </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6" style="padding-right:10px;padding-left:10px">
                <!-- small box -->
                <div class="small-box bg-green" style="height: 100px;">
                    <div class="inner">
                        <h3>{{asset_info.faculty}}</h3>
                        <p>Faculty</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-user" style="color: white;"></i>
                    </div>
                    <!--<a href='#' ng-click="updateLink(true,'inventoryTree','nav-gateway')" id="nav-gateway" class="small-box-footer">
                        More info <i class="fa fa-arrow-circle-right"></i>
                    </a>-->
                </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6" style="padding-right:10px;padding-left:10px">
                <!-- small box -->
                <div class="small-box bg-purple" style="height: 100px;">
                    <div class="inner">
                        <h3>{{asset_info.vehicles}}</h3>
                        <p>Vehicles</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-bus" style="color: white;"></i>
                    </div>
                    <!--<a href='#' ng-click="updateLink(true,'inventoryTree','nav-device')" id="nav-device" class="small-box-footer">
                        More info <i class="fa fa-arrow-circle-right"></i>
                    </a>-->
                </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6" style="padding-right:10px;padding-left:10px">
                <!-- small box -->
                <div class="small-box bg-yellow" style="height: 100px;">
                    <div class="inner">
                        <h3>{{asset_info.feesTransactions}}</h3>
                        <p>FeesTransactions</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-cubes" style="color: white;"></i>
                    </div>
                    <!-- <a href='#' id="nav-zone" ng-click="updateLink(true,'inventoryTree','nav-zone')" class="small-box-footer">
                         More info <i class="fa fa-arrow-circle-right"></i>
                     </a>-->
                </div>
            </div><!-- ./col -->
        </div>
    </div>

    <div class="row intial-row base-content" style="padding:10px 0 0 0;border-radius:3px;">
        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 panel panel-default asset-info" style="margin:0px;padding:0; border: transparent;background:transparent;overflow: hidden;">
                <div class="container" style="margin: 10px 10px;">
                    <style>
                        .widget {
                            /* margin: 0 auto;*/
                            width:500px;
                            height: 450px;
                            /*margin-top:50px;*/
                            background-color: #ffffff;
                            border-radius: 5px;
                            box-shadow: 0px 0px 1px 0px #06060d;

                        }
                        .header{
                            background-color: #2a76a2;
                            height:40px;
                            color:#f4f4f4;
                            text-align: center;
                            line-height: 40px;
                            border-top-left-radius: 7px;
                            border-top-right-radius: 7px;
                            font-weight: 400;
                            font-size: 1.5em;
                            text-shadow: 1px 1px #06060d;
                        }
                        .chart-container{
                            padding-left: 85px;
                            padding-top: 40px;
                        }
                        .shadow {
                            -webkit-filter: drop-shadow( 0px 3px 3px rgba(0,0,0,.5) );
                            filter: drop-shadow( 0px 3px 3px rgba(0,0,0,.5) );
                        }
                        .chart-column{
                            morgin:0;
                            padding:0;
                        }
                        /*donut  ********************************************/
                        .chart-container1{
                            /*padding-top: 20px;*/
                        }
                        .label-text {
                            alignment-baseline: middle;
                            font-size: 12px;
                            font-family: arial,helvetica,"sans-serif";
                            fill: #393939;
                        }
                        .label-line {
                            stroke-width: 1;
                            stroke: #393939;
                        }
                        .label-circle {
                            fill: #393939;
                        }
                        .rc {
                            margin-left: -25px;
                        }
                        .pies {
                            margin-left: 40px;
                            margin-top: -40px;
                        }
                          .para {
                            font-family: Verdana;
                            margin-top: 100px;
                            font-size: 14px;
                            margin-left: 150px;
                            color: #666;
                            font-weight: bold;
                            text-anchor: middle;
                        }


                    </style>
                    <div class="col-md-6 chart-column">
                        <div class="widget">
                            <div class="header">Vehicle Growth Each Year</div>
                            <p class="para" ng-if="data1 == undefined || data1.length == 0">Vehicles Data Not Found</p>
                            <div id="chart" class="chart-container">
                                <pie-chart id = "piechart" data1="data1" ng-if="data1 != undefined || data1.length != 0"></pie-chart>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 rc">
                        <div class="widget" >
                            <div class="header">Faculty Growth Each Year</div>
                            <p class="para" ng-if="data == undefined || data.length == 0">Faculties Data Not Found</p>
                            <div id="chart" class="chart-container1">
                                <donut-chart id = "donutchart" data="data" ng-if="data != undefined ||  data.length != 0"></donut-chart>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>