
<div class="container-fluid" style="height: 100%;padding: 0">
    <section class="container-fluid content-header" style="padding:0">
        <ol class="breadcrumb">
            <li><a onclick="goToHome()"><i class="fa fa-home"></i>Home</a></li>
            <li><a ui-sref="classroom.list"><i class="fa fa-cubes"></i>Branch</a></li>
            <li><i class="fa fa-plus"></i>Change Password</li>
        </ol>
    </section>
    <div class="col-lg-6 col-lg-offset-3 col-md-9 col-md-offset-3 col-sm-11 col-xs-11 base-content">
        <div class="container-fluid text-success response_msg1" ng-hide="response_msg1 == undefined || response_msg1 == ''"  >{{response_msg1}}</div>
        <div style="border:1px solid rgba(255,255,255,0.15);padding: 0" class="bg-base">
            <div class="container-fluid details-header">
                Change Password
            </div>
            <form name="changePass" class="form-horizontal" ng-submit="changePassword()">

                <div class="form-group required">
                    <label class="col-lg-3 col-md-2 col-sm-3 col-xs-3 control-label">Username</label>
                    <div class="col-lg-5 col-md-4 col-sm-5 col-xs-7">
                        <input type="text" ng-model="add.username" name="username" class="form-control" required autofocus/>
                    </div>
                </div>


                <div class="form-group required">
                    <label class="col-lg-3 col-md-2 col-sm-3 col-xs-3 control-label">Old password</label>
                    <div class="col-lg-5 col-md-4 col-sm-5 col-xs-7">
                        <input type="password" ng-model="add.oldPassword" name="oldPassword" class="form-control" required autofocus/>
                    </div>
                </div>

                <div class="form-group required">
                    <label class="col-lg-3 col-md-2 col-sm-3 col-xs-3 control-label">New password</label>
                    <div class="col-lg-5 col-md-4 col-sm-5 col-xs-7">
                        <input type="password" ng-model="add.newPassword" name="newPassword" class="form-control" required autofocus/>
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-4" style="color:red;padding:0" ng-show="changePass.newPassword.$error.pattern">
                        Password should contain at least 1 number and 1 special charecter such as !@#$%^&*
                    </div>
                </div>

                <div class="form-group required">
                    <label class="col-lg-3 col-md-2 col-sm-3 col-xs-3 control-label">Confirm password</label>
                    <div class="col-lg-5 col-md-4 col-sm-5 col-xs-7">
                        <input type="password" ng-model="add.confirmPassword" name="confirmPassword" class="form-control" required autofocus/>
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-4" style="color:red;padding:0" ng-show="(add.confirmPassword != undefined || add.confirmPassword != null) && (add.newPassword != add.confirmPassword) "><!--edited on 11-9-2016  -->
                        <img src="images/x-mark.png" width="25px" height="25px">
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-4" style="color:red;padding:0" ng-show="(add.newPassword == add.confirmPassword) && (add.confirmPassword != undefined || add.confirmPassword != null)"><!--edited on 11-9-2016  -->
                        <img src="images/check Mark.png" width="25px" height="25px">
                    </div>
                </div>

                <div class="form-group ">
                    <div class="container-fluid text-center">
                        <button type="submit" class="btn btn-color btn-sm" ng-disabled="changePass.$invalid">Change</button>
                        <button type="button" class="btn btn-color btn-sm" ng-click="cancel()">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

