
<div class="container-fluid" style="height: 100%;padding: 0">
    <section class="container-fluid content-header" style="padding:0">
        <ol class="breadcrumb">
            <li><a onclick="goToHome()"><i class="fa fa-home"></i>Home</a></li>
            <li><i class="fa fa-book"></i>Library Management</li>
            <li><i class="fa fa-plus"></i>Add Book</li>
        </ol>
    </section>
    <div class="col-lg-6 col-lg-offset-3 col-md-9 col-md-offset-3 col-sm-11 col-xs-11 base-content" >
        <div class="container-fluid text-success response_msg1" ng-hide="response_msg1 == undefined || response_msg1 == ''"  >{{response_msg1}}</div>
        <div style="border:1px solid rgba(255, 255, 255, 0.15);padding: 0" class="bg-base">
            <div class="container-fluid details-header">
                Add Book
            </div>
            <form name="addBook" autocomplete="off" class="form-horizontal" ng-submit="createLibraryBookEntry(bookId)">
                <div class="form-group required">
                    <label class="col-lg-3 col-md-2 col-sm-3 col-xs-3 control-label">Book Name</label>
                    <div class="col-lg-5 col-md-4 col-sm-5 col-xs-7">
                        <input type="text" ng-model="add.bookName" tooltip="Alphabets And Numbers Are Accepted" capitalize-first class="form-control" name="bookName" required autofocus >
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-4" style="color:red;padding:0" ng-show="addBook.bookName.$error.pattern">
                        Only alphabets and numbers are allowed including space</div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 col-md-2 col-sm-3 col-xs-3 control-label">Book Id</label>
                    <div class="col-lg-5 col-md-4 col-sm-5 col-xs-5">
                        <input type="text" ng-model="bookId" tooltip="Alphabets And Numbers Are Accepted" style="text-transform: uppercase;" name="bookId" class="form-control" required autofocus ng-pattern="/^[a-zA-Z0-9]*$/">
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-4" style="color:red;padding:0" ng-show="addBook.bookId.$error.pattern">
                        Only alphabets and numbers are allowed including space</div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 col-md-2 col-sm-3 col-xs-3 control-label">Book Version</label>
                    <div class="col-lg-5 col-md-4 col-sm-5 col-xs-5">
                        <input type="text" ng-model="add.bookVersion" tooltip="Alphabets And Numbers Are Accepted" name="bookVersion" class="form-control" maxlength="16"  required autofocus ng-pattern="/^[a-zA-Z0-9\. | \- ]*$/">
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-4" style="color:red;padding:0" ng-show="addBook.bookVersion.$error.pattern">
                        Only alphabets and numbers are allowed including space . and -</div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 col-md-2 col-sm-3 col-xs-3 control-label">Author</label>
                    <div class="col-lg-5 col-md-4 col-sm-5 col-xs-5">
                        <input type="text" ng-model="add.author" tooltip="Alphabets Are Accepted" capitalize-first name="author" class="form-control" required autofocus ng-pattern="/^[a-zA-Z ]*$/">
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-4" style="color:red;padding:0" ng-show="addBook.author.$error.pattern">
                        Only alphabets are allowed including space</div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 col-md-2 col-sm-3 col-xs-3 control-label">Publication</label>
                    <div class="col-lg-5 col-md-4 col-sm-5 col-xs-5">
                        <input type="text" ng-model="add.publication" tooltip="Alphabets Are Accepted" style="text-transform: capitalize;" name="publication" class="form-control"   required autofocus ng-pattern="/^[a-zA-Z ]*$/">
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-4" style="color:red;padding:0" ng-show="addBook.publication.$error.pattern">
                        Only alphabets are allowed including space</div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 col-md-2 col-sm-3 col-xs-3 control-label">Cost</label>
                    <div class="col-lg-5 col-md-4 col-sm-5 col-xs-5">
                        <input type="text" ng-model="add.approximateCost" tooltip="Integer Or Real Value Are Accepted" name="approximateCost" class="form-control"  required ng-pattern="/^[0-9]*[.]?[0-9]*$/">
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-4" style="color:red;padding:0" ng-show="addBook.approximateCost.$error.pattern">
                        Cost should be a Integer or real value</div>
                </div>

                <div class="form-group ">
                    <div class="container-fluid text-center">
                        <button type="submit"  class="btn btn-color btn-sm" ng-disabled="addBook.$invalid">Create</button>
                        <button type="button"  class="btn btn-color btn-sm" ng-click="cancel()">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

