
<div class="container-fluid" style="height: 100%;padding: 0">
    <section class="container-fluid content-header" style="padding:0">
        <ol class="breadcrumb">
            <li><a onclick="goToHome()"><i class="fa fa-home"></i>Home</a></li>
            <li><a ui-sref="fees.list"><i class="fa fa-cubes"></i>Fees</a></li>
            <li><i class="fa fa-plus"></i>Add Fees</li>
        </ol>
    </section>
    <div class="col-lg-10 col-lg-offset-2 col-md-10 col-md-offset-2 col-sm-11 col-xs-11 base-content" >
        <div class="container-fluid text-success response_msg1" ng-hide="response_msg1 == undefined || response_msg1 == ''"  >{{response_msg1}}</div>
        <div style="border:1px solid rgba(255,255,255,.15);padding: 0" class="bg-base">
            <div class="container-fluid details-header">
                Add New Fee Structure
            </div>
            <form name="addFees" autocomplete="off" class="form-horizontal" ng-submit="createBranchFees()">

                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label class="col-lg-3 col-md-2 col-sm-3 col-xs-3 control-label">Academic Year</label>
                            <div class="col-lg-5 col-md-4 col-sm-5 col-xs-5">
                                <!--<select  class="input-sm form-control" ng-model="add.x" required ng-options="x as x.year for x in years" style="line-height: 1.5" >
                                    <option value="" selected>Select Year</option>
                                </select>-->
                                <input type="text" ng-model="academicYear" tooltip="Academic Year"  name="" class="form-control " readonly autofocus>
                            </div>
                        </div>

                        <div class="form-group required">
                            <label class="col-lg-3 col-md-2 col-sm-3 col-xs-3 control-label">Fees Name</label>
                            <div class="col-lg-5 col-md-4 col-sm-5 col-xs-7">
                                <input type="text" ng-model="add.feeName" tooltip="Alphabets Are Accepted" capitalize-first class="form-control input-text" name="name" required autofocus maxlength="128" >
                            </div>
                            <!--<div class="col-lg-4 col-md-5 col-sm-4" style="color:red;padding:0" ng-show="addFees.name.$error.pattern">
                                Numbers and Punctuations not allowed except - and  , </div>-->
                        </div>

                        <div class="form-group ">
                            <div class="container-fluid text-center">
                                <label class="control-label"><strong style="margin-left: -40px">One Time Fees</strong></label>
                            </div>
                        </div>

                        <fieldset  data-ng-repeat="choice in choices">

                            <div class="form-group">
                                <label class="col-lg-3 col-md-2 col-sm-3 col-xs-3 control-label">Fees Type</label>
                                <div class="col-lg-5 col-md-4 col-sm-5 col-xs-5">
                                    <input type="text" ng-model="choice.type" tooltip="Enter Type of Fees" name="" class="form-control" required  ng-pattern="/^[a-zA-Z ]*$/" capitalize-first>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-3 col-md-2 col-sm-3 col-xs-3 control-label">Amount</label>
                                <div class="col-lg-5 col-md-4 col-sm-5 col-xs-5">
                                    <input type="number" ng-model="choice.amount" tooltip="Enter Amount in Numbers" name="" placeholder="Enter The Amount" class="form-control" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-3 col-md-2 col-sm-3 col-xs-3 control-label">Pay By Date</label>
                                <div class="col-lg-5 col-md-4 col-sm-5 col-xs-5">
                                    <input type="text" ng-model="choice.payByDate" placeholder="YYYY-MM-DD" tooltip="Select the valid date" ui-date="dateOptions"  name=" " class="form-control" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="container-fluid text-center">
                                    <button type="button" class="addfields" style="margin-left: -30px" ng-show="$last" ng-click="addNewChoice()"><i class="fa fa-plus" rel="popover" ></i></button>
                                    <button type="button" class="remove" style="margin-left: 30px" ng-show="$last" ng-click="removeChoice()"><i class="fa fa-times" rel="popover" ></i></button>
                                </div>
                            </div>

                        </fieldset>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group ">
                            <div class="container-fluid text-center">
                                <label class="control-label" ><strong style="margin-left: -40px">Recurring Fees</strong></label>
                            </div>
                        </div>

                        <fieldset  data-ng-repeat="mode in modes">

                            <div class="form-group">
                                <label class="col-lg-3 col-md-2 col-sm-3 col-xs-3 control-label">Fees Type</label>
                                <div class="col-lg-5 col-md-4 col-sm-5 col-xs-5">
                                    <input type="text" ng-model="mode.type" tooltip="Enter Type of Fees" name="" class="form-control" required  ng-pattern="/^[a-zA-Z ]*$/" capitalize-first>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-3 col-md-2 col-sm-3 col-xs-3 control-label">Fees Mode</label>
                                <div class="col-lg-5 col-md-4 col-sm-5 col-xs-5">
                                    <!--<input type="text" ng-model="mode.mode" tooltip="Integer Or Real Values Are Accepted" name="" class="form-control" required maxlength="10" ng-pattern="/^[0-9]*[.]?[0-9]*$/">-->
                                    <select  class="input-sm form-control" ng-model="mode.mode" required ng-options="mode as mode for mode in mode_list" style="line-height: 1.5" >
                                        <option value="" selected>Select Mode</option>
                                    </select>
                                </div>
                                <div class="col-lg-4 col-md-5 col-sm-4" style="color:red;padding:0" ng-show="addFees.monthly.$error.pattern">
                                    Fees should be a integer or real value</div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-3 col-md-2 col-sm-3 col-xs-3 control-label">No Of Installments</label>
                                <div class="col-lg-5 col-md-4 col-sm-5 col-xs-5">
                                    <input type="number" ng-model="mode.noOfInstalments" tooltip="Enter No Of Installments" name="" min="1" max="12" class="form-control"  required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-3 col-md-2 col-sm-3 col-xs-3 control-label">Amount</label>
                                <div class="col-lg-5 col-md-4 col-sm-5 col-xs-5">
                                    <input type="number" ng-model="mode.amount" tooltip="Enter Amount in Numbers" name="" placeholder="Enter The Amount" class="form-control" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="container-fluid text-center">
                                    <button type="button" class="addfields" style="margin-left: -30px" ng-show="$last" ng-click="addNewMode()"><i class="fa fa-plus" rel="popover" ></i></button>
                                    <button type="button" class="remove" style="margin-left: 30px" ng-show="$last" ng-click="removeMode()"><i class="fa fa-times" rel="popover" ></i></button>
                                </div>
                            </div>

                        </fieldset>
                    </div>
                </div>

                <div class="form-group ">
                    <div class="container-fluid text-center">
                        <button type="submit" class="btn btn-color btn-sm" ng-disabled="addFees.$invalid">Add</button>
                        <button type="button" class="btn btn-color btn-sm" ng-click="cancel()">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

