
<div class="container-fluid" style="height: 100%;padding: 0">
    <section class="container-fluid content-header" style="padding:0">
        <ol class="breadcrumb">
            <li><a onclick="goToHome()"><i class="fa fa-home"></i>Home</a></li>
            <li><i class="fa fa-bus"></i>Vehicle Management</li>
            <li><i class="fa fa-tint"></i>Fuelbook Details</a></li>
            <li><i class="fa fa-plus"></i>Add Fuelbook Entry</li>
        </ol>
    </section>
    <div class="col-lg-6 col-lg-offset-3 col-md-9 col-md-offset-3 col-sm-11 col-xs-11 base-content" >
        <div class="container-fluid text-success response_msg1" ng-hide="response_msg1 == undefined || response_msg1 == ''"  >{{response_msg1}}</div>
        <div style="border:1px solid rgba(255, 255, 255, 0.15);padding: 0" class="bg-base">
            <div class="container-fluid details-header">
                Fuel Book Entry for Vehicle
            </div>

            <form name="addFuelbookEntry" class="form-horizontal" ng-submit="createFuelbookEntry(currentVehicle)">

                <div class="form-group">
                    <label class="col-lg-3 col-md-2 col-sm-3 col-xs-3 control-label">Vehicle Reg No</label>
                    <div class="col-lg-5 col-md-4 col-sm-5 col-xs-7">
                        <select  class="form-control" ng-model="currentVehicle" ng-change="driver(currentVehicle)" required ng-options="vehicle as vehicle.vehicleRegNo for vehicle in vehicle_list" style="line-height: 1.5">
                            <option value="" selected>Select Reg No</option>
                        </select>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 text-success response_msg" style="padding-top: 10px;" ng-hide="response_msg == undefined || response_msg == ''"  >{{response_msg}}</div>
                </div>

                <div class="clearfix"></div>
                <div class="form-group">
                    <label class="col-lg-3 col-md-2 col-sm-3 col-xs-3 control-label">Driver Name</label>
                    <div class="col-lg-5 col-md-4 col-sm-5 col-xs-7">
                        <input type="text" ng-model="add.driverName" tooltip="Alphabets Are Accepted" capitalize-first class="form-control" name="driverName" required autofocus maxlength="64" ng-pattern="/^[a-zA-Z ]*$/">
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-4" style="color:red;padding:0" ng-show="addFuelbookEntry.driverName.$error.pattern">
                        Only alphabets are allowed including space</div>
                </div>

                <!--<div class="clearfix"></div>
                <div class="form-group">
                    <label class="col-lg-3 col-md-2 col-sm-3 col-xs-3 control-label">Driver Name</label>
                    <div class="col-lg-5 col-md-4 col-sm-5 col-xs-7">
                        <select  class="form-control" ng-model="add.driver"  required ng-options="driver as driver.firstName for driver in staff_list" style="line-height: 1.5">
                            <option value="" selected>Select Driver Name</option>
                        </select>
                    </div>
                </div>-->

                <div class="form-group">
                    <label class="col-lg-3 col-md-2 col-sm-3 col-xs-3 control-label">Date</label>
                    <div class="col-lg-5 col-md-4 col-sm-5 col-xs-5">
                        <!--<input type="text" ng-model="add.date" name="date" class="form-control"  maxlength="16" required autofocus ng-pattern="/^[0-9]{4}\-(0[1-9]|1[012])\-(0[1-9]|[12][0-9]|3[01])$/">-->
                        <input type="text" ng-model="add.date" tooltip="Select Date In Year-Month-Date Formate " name="date" ui-date="dateOptions" id="date" class="form-control" required placeholder="YYYY-MM-DD" autofocus />
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-4" style="color:red;padding:0" ng-show="addFuelbookEntry.date.$error.pattern">
                        Date should be in <b>YYYY-MM-DD</b> format.</div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 col-md-2 col-sm-3 col-xs-3 control-label">KMS Reading</label>
                    <div class="col-lg-5 col-md-4 col-sm-5 col-xs-5">
                        <input type="text" ng-model="add.kmsReading" tooltip="Integer Or Real Values Are Accepted" class="form-control" maxlength="7" name="kmsReading" required autofocus ng-pattern="/^[0-9]*[.]?[0-9]*$/">
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-4" style="color:red;padding:0" ng-show="addFuelbookEntry.kmsReading.$error.pattern">
                        Only integer or real numbers are allowed</div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 col-md-2 col-sm-3 col-xs-3 control-label">Cost Of Fuel</label>
                    <div class="col-lg-5 col-md-4 col-sm-5 col-xs-5">
                        <input type="text" ng-model="add.costOfFuel"  tooltip="Integer Or Real Values Are Accepted" name="costOfFuel" class="form-control"  maxlength="10" required ng-pattern="/^[0-9]*[.]?[0-9]*$/">
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-4" style="color:red;padding:0" ng-show="addFuelbookEntry.costOfFuel.$error.pattern">
                        Cost should be a Integer or Real value</div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 col-md-2 col-sm-3 col-xs-3 control-label">Type Of Fuel</label>
                    <div class="col-lg-5 col-md-4 col-sm-5 col-xs-5">
                        <select class="form-control" ng-model="add.typeOfFuel" required ng-options="x for x in fuel_type">
                            <option value="" selected>Select Fuel Type</option>
                        </select>
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-4" style="color:red;padding:0" ng-show="addFuelbookEntry.typeOfFuel.$error.pattern">
                        Only alphabest are allowed including space</div>
                </div>

                <div class="form-group ">
                    <div class="container-fluid text-center">
                        <button type="submit"  class="btn btn-color btn-sm" ng-disabled="addFuelbookEntry.$invalid">Create</button>
                        <button type="button"  class="btn btn-color btn-sm" ng-click="cancel()">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

