<div class="container-fluid" style="height:100%;padding: 0px;">
    <section class="container-fluid content-header" style="padding:0">
        <ol class="breadcrumb">
            <li><a onclick="goToHome()"><i class="fa fa-home"></i>Home</a></li>
            <li><i class="fa fa-th"></i>Vehicle</a></li>
        </ol>
    </section>
    <div class="col-lg-11 base-content table-base" style="height:auto;width:95%">
        <div class="container-fluid"  style="height: 90%;padding:0">

            <div class="container-fluid" style="height: 30px;padding:0;">
            <div class="col-md-2 col-sm-3 col-xs-4" style="font-size: medium;padding: 0 0 10px 0px" >
                <a ui-sref="^.route"><button type="button" tooltip="Add" class="btn btn-color btn-sm">Back</button></a>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 text-success response_msg" style="padding-top: 10px;" ng-hide="response_msg == undefined || response_msg == ''"  >{{response_msg}}</div>
        </div>

            <div  class="container-fluid" style="height:auto;padding:0;" ng-if="boarding_details == undefined || boarding_details.length <= 10">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th width="10%">Boarding Point</th>
                        <th width="10%">Pick Time</th>
                        <th width="10%">Drop Time</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="obj in boarding_details">
                        <td width="10%">{{obj.boardingPointName}}</td>
                        <td width="10%">{{obj.pickTime}}</td>
                        <td width="10%">{{obj.dropTime}}</td>
                    </tr>
                    </tbody>
                </table>
                <div ng-if="boarding_details.length == 0" class="noData">
                    No vehicles Found</div>
                <div ng-if="boarding_details == undefined" class="noData">
                    Processing...</div>
            </div>

        </div>
    </div>
    <div class="col-xs-offset-1 col-sm-offset-1" data-ng-include="'views/dialoge.html'" />
</div>