
<div class="container-fluid" style="height: 100%;padding: 0">
    <section class="container-fluid content-header" style="padding:0">
        <ol class="breadcrumb">
            <li><a onclick="goToHome()"><i class="fa fa-home"></i>Home</a></li>
            <li><i class="fa fa-book"></i>Library Management</li>
            <li><i class="fa fa-book"></i>Library Management</li>
            <li><i class="fa fa-plus"></i>Assign Book</li>
        </ol>
    </section>
    <div class="col-lg-6 col-lg-offset-3 col-md-9 col-md-offset-3 col-sm-11 col-xs-11 base-content" >
        <div class="container-fluid text-success response_msg1" ng-hide="response_msg1 == undefined || response_msg1 == ''"  >{{response_msg1}}</div>
        <div style="border:1px solid rgba(255,255,255,.15);padding: 0" class="bg-base">
            <div class="container-fluid details-header">
                Issue Book
            </div>
            <form name="assignBook" class="form-horizontal" autocomplete="off" ng-submit="assignTo(edit.bookId)">

                <div class="form-group">
                    <label class="col-lg-3 col-md-2 col-sm-3 col-xs-3 control-label">Book Id</label>
                    <div class="col-lg-5 col-md-4 col-sm-5 col-xs-5">
                        <input type="text" ng-model="assign.bookId" class="form-control" name="bookId" readonly>
                    </div>
                </div>

                <div class="form-group required">
                    <label class="col-lg-3 col-md-2 col-sm-3 col-xs-3 control-label">Book Name</label>
                    <div class="col-lg-5 col-md-4 col-sm-5 col-xs-5">
                        <input type="text" ng-model="assign.bookName" name="bookName" class="form-control"  readonly>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 col-md-2 col-sm-3 col-xs-3 control-label">Issue To</label>
                    <div class="col-lg-5 col-md-4 col-sm-5 col-xs-5">
                        <label class="radio-inline">
                            <input type="radio" name="to"  ng-model="student1" value ="1"  ng-click="toStudent('S')" />
                            <span class="label-text">Student</span>
                        </label>
                        &nbsp;
                        <label class="radio-inline">
                            <input type="radio" name="to"  ng-model="faculty1"  value="1" ng-click="toFaculty('F')" />
                            <span class="label-text">Faculty</span>
                        </label>
                    </div>
                </div>

                <div ng-if="isVisibleS">
                    <div class="form-group required">
                        <label class="col-lg-3 col-md-2 col-sm-3 col-xs-3 control-label">Year</label>
                        <div class="col-lg-5 col-md-4 col-sm-5 col-xs-5">
                            <!--<select class="input-sm form-control" ng-model="x" ng-change="fetchStandardList(x.year)"  ng-options="x as x.year for x in years" style="line-height: 1.5" >
                                <option value="">Select Year</option>
                            </select>-->
                            <input type="text" ng-model="year" class="form-control"  name="year" readonly>
                        </div>
                    </div>

                    <div class="form-group required">
                        <label class="col-lg-3 col-md-2 col-sm-3 col-xs-3 control-label">Standard</label>
                        <div class="col-lg-5 col-md-4 col-sm-5 col-xs-5">
                            <select class="input-sm  form-control" ng-model="standard" ng-change="fetchClassRoomlist(year, standard)" required ng-options="standard as standard.name for standard in standard_list" style="line-height: 1.5" >
                                <option value="">Select Standard</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group required">
                        <label class="col-lg-3 col-md-2 col-sm-3 col-xs-3 control-label">Section</label>
                        <div class="col-lg-5 col-md-4 col-sm-5 col-xs-5">
                        <select class="input-sm form-control" ng-model="section" ng-change="fetchStudentList(year, standard, section)" required ng-options="section as section.section for section in section_list" style="line-height: 1.5" >
                            <option value="">Select Section</option>
                        </select>
                        </div>
                    </div>

                    <div class="form-group required">
                        <label class="col-lg-3 col-md-2 col-sm-3 col-xs-3 control-label">Student Name</label>
                        <div class="col-lg-5 col-md-4 col-sm-5 col-xs-5">
                            <select class="input-sm form-control" ng-model="assign.student"  ng-options="student as student.studentFirstName for student in student_list"  style="line-height: 1.5" >
                                <option value="">Select Student</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group required" ng-if="isVisibleF">
                    <label class="col-lg-3 col-md-2 col-sm-3 col-xs-3 control-label">Faculty Name</label>
                    <div class="col-lg-5 col-md-4 col-sm-5 col-xs-5">
                        <select class="input-sm form-control" ng-model="assign.faculty" ng-options="faculty as faculty.firstName for faculty in faculty_list"  style="line-height: 1.5">
                            <option value="" selected="selected">Select Faculty</option>
                        </select>
                    </div>
                </div>
                <!--</div>-->

                <div class="form-group">
                    <label class="col-lg-3 col-md-2 col-sm-3 col-xs-3 control-label">Issued Date</label>
                    <div class="col-lg-5 col-md-4 col-sm-5 col-xs-5">
                        <input type="text" ng-model="assign.issueDate" ui-date="dateOptions" id="date" placeholder="YYYY-MM-DD" tooltip="Select Issued Date In Year-Month-Date Formate" name="issueDate" required class="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 col-md-2 col-sm-3 col-xs-3 control-label">Returning Date</label>
                    <div class="col-lg-5 col-md-4 col-sm-5 col-xs-5">
                        <input type="text" ng-model="assign.returnByDate" ui-date="dateOptions" placeholder="YYYY-MM-DD" tooltip="Select Issued Date In Year-Month-Date Formate" name="returnByDate" required class="form-control"/>
                    </div>
                </div>

                <div class="form-group ">
                    <div class="container-fluid text-center">
                        <button type="submit" class="btn btn-color btn-sm" ng-disabled="assignBook.$invalid">Issue</button>
                        <button type="button" class="btn btn-color btn-sm" ng-click="cancel()">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

