<div class="container-fluid" style="height: 100%;padding: 0px;">
    <section class="container-fluid content-header" style="padding:0">
        <ol class="breadcrumb">
            <li><a onclick="goToHome()"><i class="fa fa-home"></i>Home</a></li>
            <li><i class="fa fa-money"></i>Student Details</a></li>
        </ol>
    </section>
    <div class="base-content table-base" style="height:90%;">
        <div class="container-fluid"  style="height: 90%;padding:0" ng-if="standard_list != undefined && standard_list.length > 0 ">
          <div class="container-fluid"  style="height: 90%;padding:0" ng-if="section_list != undefined && standard_list.length > 0 ">
            <div class="container-fluid" style="height: 30px;padding:0">


            </div>
            <div  class="container-fluid" style="height:auto;padding:0;" ng-if="student_list == undefined || student_list.length <= 10">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th width="10%">First Name</th>
                        <th width="10%">Last Name</th>
                        <th width="10%">DateOfBirth</th>
                        <th width="10%">Gender</th>
                        <th width="10%">Cuurent Class/Section</th>
                        <th width="20%">Student Father Name</th>
                        <th width="20%">Student Mother Name</th>
                        <th width="20%">Student Father Name</th>
                        <th width="20%">Student Mother Name</th>
                        <th width="10%">Caste</th>
                        <th width="10%">Religion</th>
                        <th width="10%">Year of Joining</th>
                        <th width="10%">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="student in student_list">
                        <td width="10%">{{student.firstName}}</td>
                        <td width="10%">{{student.lastName}}</td>
                        <td width="10%">{{student.dateOfBirth}}</td>
                        <th width="10%">{{student.gender}}</th>
                        <td width="10%">{{student.currentClass}}/{{student.section}}</td>
                        <td width="20%">{{student.fatherFirstName}}&#160;{{student.fatherLastName}} </td>
                        <td width="20%">{{student.motherFirstName}}&#160;{{student.motherLastName}}</td>
                        <td width="10%">{{student.caste}}</td>
                        <td width="10%">{{student.religion}}</td>
                        <td width="10%">{{student.yearOfJoining}}</td>

                        <td width="20%">
                            <a href="#" ng-click="deleteStudent(student,$index)"><button class="btn-action" title="Delete {{student.studentId}}"><i class="fa fa-times" rel="popover" ></i></button></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div ng-if="student_list.length == 0" class="noData">
                    No students Found</div>
                <div ng-if="student_list == undefined" class="noData">
                    Processing...</div>
            </div>
            <div class="container-fluid" style="padding:0" ng-if="student_list != undefined && student_list.length > 10">
                <table class="table">
                    <thead>
                    <tr>
                        <th width="10%">First Name</th>
                        <th width="10%">Last Name</th>
                        <th width="10%">DateOfBirth</th>
                        <th width="10%">Gender</th>
                        <th width="10%">Cuurent Class/Section</th>
                        <th width="20%">Student Father Name</th>
                        <th width="20%">Student Mother Name</th>
                        <th width="10%">Caste</th>
                        <th width="10%">Religion</th>
                        <th width="10%">Year of Joining</th>
                        <th width="10%">Action</th>
                    </tr>
                    </thead>
                </table>
            </div>
            <div  class="container-fluid slim-content" style="padding:0;" ng-if="student_list != undefined && student_list.length > 10" slim-scroll="{height:'88%',size:'3px',allowPageScroll :true,width:'100%'}">
                <table class="table table-striped">
                    <tbody>
                    <tr ng-repeat="student in student_list">
                        <td width="10%">{{student.firstName}}</td>
                        <td width="10%">{{student.lastName}}</td>
                        <td width="10%">{{student.dateOfBirth}}</td>
                        <th width="10%">{{student.gender}}</th>
                        <td width="10%">{{student.currentClass}}/{{student.section}}</td>
                        <td width="20%">{{student.fatherFirstName}}&#160;{{student.fatherLastName}} </td>
                        <td width="20%">{{student.motherFirstName}}&#160;{{student.motherLastName}}</td>
                        <td width="10%">{{student.caste}}</td>
                        <td width="10%">{{student.religion}}</td>
                        <td width="10%">{{student.yearOfJoining}}</td>
                        </td>
                        <td width="20%">s
                            <a href="#" ng-click="deleteStudent(student,$index)"><button class="btn-action" title="Delete {{student.studentId}}"><i class="fa fa-times" rel="popover" ></i></button></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="container-fluid">
            <div ng-if="student_list.length == 0" class="noData">
                No Students Found</div>
            <div ng-if="student_list == undefined" class="noData">
                Processing...</div>
        </div>
        
        </div>    
        
    </div>
    <div class="col-xs-offset-1 col-sm-offset-1" data-ng-include="'views/dialoge.html'" />
</div>