
<div class="container-fluid" style="height: 100%;padding: 0">
    <section class="container-fluid content-header" style="padding:0">
        <ol class="breadcrumb">
            <li><a onclick="goToHome()"><i class="fa fa-home"></i>Home</a></li>
            <li><i class="fa fa-group"></i>Student Management</li>
            <li><i class="fa fa-child"></i>Students</li>
            <li><i class="fa fa-money"></i>Choose Payment Mode</li>
        </ol>
    </section>
    <div class="col-lg-6 col-lg-offset-3 col-md-9 col-md-offset-3 col-sm-11 col-xs-11 base-content" >
        <div class="container-fluid text-success response_msg" ng-hide="response_msg1 == undefined || response_msg1 == ''"  >{{response_msg1}}</div>
        <div style="1px solid rgba(255,255,255,.15);padding: 0" class="bg-base">
            <div class="container-fluid details-header">
                Payment Mode
            </div>
            <form name="selectMode" autocomplete="off" class="form-horizontal" ng-submit="choosePaymentMode(mode)">

                <div class="form-group">
                    <label class="col-lg-3 col-md-2 col-sm-3 col-xs-3 control-label">Student Name</label>
                    <div class="col-lg-5 col-md-4 col-sm-5 col-xs-5">
                        <input type="text" ng-model="name" class="form-control" maxlength="16" name="name" readonly>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 col-md-2 col-sm-3 col-xs-3 control-label">Fee Mode</label>
                    <div class="col-lg-5 col-md-4 col-sm-5 col-xs-5">
                        <select class="input-sm form-control" ng-model="mode" required ng-options="mode as mode for mode in mode_list" style="line-height: 1.5">
                            <option value="" selected="selected">Select Mode</option>
                        </select>
                    </div>
                </div>

                <div class="form-group ">
                    <div class="container-fluid text-center">
                        <button type="submit" class="btn btn-color btn-sm" ng-disabled="selectMode.$invalid">Ok</button>
                        <button type="button" class="btn btn-color btn-sm" ng-click="cancel()">Cancel</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-11 col-xs-11" style="margin-top: 10px;">
        <div class="alert alert-info" style="margin: 7px;">
            <a href="#" class="close" data-dismiss="alert" aria-label="close" style="line-height: 0.2;margin-top: 3px;">&times;</a>
            <i class="fa fa-space-shuttle faa-passing animated"></i> &nbsp;&nbsp;Fee Mode selection should be made before the Student Fee Transaction is done.
        </div>
    </div>
</div>

