<div class="container-fluid" style="height: 100%;padding: 0" >
    <section class="container-fluid content-header" style="padding:0">
        <ol class="breadcrumb">
            <li><a onclick="goToHome()"><i class="fa fa-home"></i>Home</a></li>
            <li><i class="fa fa-user"></i>Staff Management</li>
            <li><i class="fa fa-group"></i>Teaching Staff</li>
            <li><i class="fa fa-plug"></i>Add Leaves</li>
        </ol>
    </section>
    <div class="col-lg-6 col-lg-offset-3 col-md-9 col-md-offset-3 col-sm-11 col-xs-11 base-content">
        <div class="container-fluid text-success response_msg1" ng-hide="response_msg1 == undefined || response_msg1 == ''"  >{{response_msg1}}</div>
        <div style="border:1px solid rgba(255, 255, 255, 0.15);padding: 0" class="bg-base">
            <div class="container-fluid details-header">
                Add Leave State
            </div>
            <form name="setLeaves" autocomplete="off" class="form-horizontal" ng-submit="postLeaveState()">


                <div class="form-group required">
                    <label class="col-lg-3 col-md-2 col-sm-3 col-xs-3 control-label">No of Sick Leaves</label>
                    <div class="col-lg-5 col-md-4 col-sm-5 col-xs-5">
                        <input type="text" ng-model="add.sick" tooltip="Numbers Are Accepted"  class="form-control input-text" ng-pattern="/^[0-9]*$/" required maxlength="2" name="sick" autofocus >
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-4" style="color:red;padding:0" ng-show="setLeaves.sick.$error.pattern">
                        Enter only numbers</div>
                </div>
                <div class="form-group required">
                    <label class="col-lg-3 col-md-2 col-sm-3 col-xs-3 control-label">No of Casual Leaves</label>
                    <div class="col-lg-5 col-md-4 col-sm-5 col-xs-5">
                        <input type="text" ng-model="add.casual" tooltip="Numbers Are Accepted"  class="form-control input-text" ng-pattern="/^[0-9]*$/" required maxlength="2" name="casual" autofocus >
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-4" style="color:red;padding:0" ng-show="setLeaves.casual.$error.pattern">
                        Enter only numbers</div>
                </div>
                <div class="form-group required">
                    <label class="col-lg-3 col-md-2 col-sm-3 col-xs-3 control-label">No of Earned Leaves</label>
                    <div class="col-lg-5 col-md-4 col-sm-5 col-xs-5">
                        <input type="text" ng-model="add.earned" tooltip="Numbers Are Accepted"  class="form-control input-text" ng-pattern="/^[0-9]*$/" required maxlength="2" name="earned" autofocus >
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-4" style="color:red;padding:0" ng-show="setLeaves.earned.$error.pattern">
                        Enter only numbers</div>
                </div>

                <div class="form-group required">
                    <label class="col-lg-3 col-md-2 col-sm-3 col-xs-3 control-label">State</label>
                    <div class="col-lg-5 col-md-4 col-sm-5 col-xs-7">
                        <select  class="input-sm form-control" ng-model="add.state" required ng-options="state as state for state in states" style="line-height: 1.5" >
                            <option value="" selected>Select State</option>
                        </select>
                    </div>
                </div>


                <div class="form-group ">
                    <div class="container-fluid text-center">
                        <button type="submit"  class="btn btn-color btn-sm" ng-disabled="setLeaves.$invalid">Save</button>
                        <button type="button"  class="btn btn-color btn-sm" ng-click="cancel()">Cancel</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-11 col-xs-11" style="margin-top: 10px;">

    </div>
</div>

