<div class="container-fluid" style="height: 100%;padding: 0" ng-init="addUrl()">
    <section class="container-fluid content-header" style="padding:0">
        <ol class="breadcrumb">
            <li><a onclick="goToHome()"><i class="fa fa-home"></i>Home</a></li>
            <li><i class="fa fa-archive"></i>Others</li>
            <li><i class="fa fa-video-camera"></i>Upload Video Url</li>
        </ol>
    </section>
    <div class="col-lg-6 col-lg-offset-3 col-md-9 col-md-offset-3 col-sm-11 col-xs-11 base-content" >
        <div class="container-fluid text-success response_msg1" ng-hide="response_msg2 == undefined || response_msg2 == ''"  >{{response_msg2}}</div>
        <div style="border:1px solid rgba(255,255,255,0.15);padding: 0" class="bg-base">
            <div class="container-fluid details-header">
                Upload URL
            </div>
            <div class="row" style="padding-bottom: 30px">
                <form name="uploadUrl" autocomplete="off" class="form-horizontal" ng-submit="uploadUrls()">

                    <div class="form-group">
                        <label class="col-lg-3 col-md-2 col-sm-3 col-xs-3 control-label">Video Name</label>
                        <div class="col-lg-5 col-md-4 col-sm-5 col-xs-5">
                            <input type="text" ng-model="add.videoName" tooltip="Alphabets Are Accepted" required capitalize-first class="form-control input-text" maxlength="128" name="videoName"  autofocus>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 col-md-2 col-sm-3 col-xs-3 control-label">Image Url</label>
                        <div class="col-lg-5 col-md-4 col-sm-5 col-xs-5">
                            <input type="text" ng-model="add.imageUrl" tooltip="Alphabets Are Accepted" style="text-transform: capitalize;" class="form-control input-text" name="imageUrl"  autofocus >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 col-md-2 col-sm-3 col-xs-3 control-label">Video Url</label>
                        <div class="col-lg-5 col-md-4 col-sm-5 col-xs-5">
                            <input type="text" ng-model="add.videoUrl" tooltip="Alphabets Are Accepted" style="text-transform: capitalize;" class="form-control input-text"  name="videoUrl"  autofocus >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 col-md-2 col-sm-3 col-xs-3 control-label">Event Name</label>
                        <div class="col-lg-5 col-md-4 col-sm-5 col-xs-5">
                            <input type="text" ng-model="add.eventName" tooltip="Alphabets Are Accepted" capitalize-first class="form-control input-text" maxlength="128" name="eventName"  autofocus >
                        </div>
                    </div>

                    <div class="form-group ">
                        <div class="container-fluid text-center">
                            <button type="submit"  class="btn btn-color btn-sm" ng-disabled="uploadUrl.$invalid">Save</button>
                            <button type="button"  class="btn btn-color btn-sm" ng-click="cancel()">Cancel</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

