
<div class="container-fluid" style="height: 100%;padding: 0">
    <section class="container-fluid content-header" style="padding:0">
        <ol class="breadcrumb">
            <li><a onclick="goToHome()"><i class="fa fa-home"></i>Home</a></li>
            <li><i class="fa fa-building"></i>Branches</li>
            <li><i class="fa fa-pencil"></i>Edit</li>
        </ol>
    </section>
    <div class="col-lg-6 col-lg-offset-3 col-md-9 col-md-offset-3 col-sm-11 col-xs-11 base-content" >
        <div class="container-fluid text-success response_msg1" ng-hide="response_msg1 == undefined || response_msg1 == ''"  >{{response_msg1}}</div>
        <div style="border:1px solid rgba(255,255,255,0.15);padding: 0" class="bg-base">
            <div class="container-fluid details-header">
                Edit Branch
            </div>
            <form name="editBranch" autocomplete="off" class="form-horizontal" ng-submit="updateBranch(edit.branchId)">

               <!-- <div class="form-group">
                    <label class="col-lg-3 col-md-2 col-sm-3 col-xs-3 control-label">Branch Id</label>
                    <div class="col-lg-5 col-md-4 col-sm-5 col-xs-5">
                        <input type="text" ng-model="edit.branchId" tooltip="Alphabets And Numbers Are Accepted" readonly name="branchId" class="form-control"  maxlength="64">
                    </div>
                </div>-->

                <div class="form-group required">
                    <label class="col-lg-3 col-md-2 col-sm-3 col-xs-3 control-label">Branch Name</label>
                    <div class="col-lg-5 col-md-4 col-sm-5 col-xs-7">
                        <input type="text" ng-model="edit.branchName" class="form-control" name="name" required autofocus>
                        <!--<textarea type="text" ng-model="edit.branchName" capitalize-first tooltip="Alphabets And Numbers Are Accepted" class="form-control" name="name" required autofocus maxlength="64" ng-pattern="/^[a-zA-Z0-9 ]*$/"></textarea>-->
                    </div>
                    <!--<div class="col-lg-4 col-md-5 col-sm-4" style="color:red;padding:0" ng-show="editBranch.name.$error.pattern">
                        Only alphabets and numbers are allowed including space</div>-->
                </div>

                <div class="form-group">
                    <label class="col-lg-3 col-md-2 col-sm-3 col-xs-3 control-label">Address</label>
                    <div class="col-lg-5 col-md-4 col-sm-5 col-xs-5">
                        <!--<input type="text" ng-model="edit.address" capitalize-first tooltip="Enter A Valid Address" name="address" class="form-control"  >-->
                        <textarea type="text" ng-model="edit.address" capitalize-first  class="form-control" name="name" required autofocus></textarea>

                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 col-md-2 col-sm-3 col-xs-3 control-label">PinCode</label>
                    <div class="col-lg-5 col-md-4 col-sm-5 col-xs-5">
                        <input type="text" ng-model="edit.pincode" tooltip="Six Digit Numbers Are Accepted" class="form-control" maxlength="6" name="pincode" ng-pattern="/^\d*$/">
                    </div>
                    <div class="col-lg-4" style="color:red;padding:0" ng-show="editBranch.pincode.$error.pattern">
                        Only numbers are allowed</div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 col-md-2 col-sm-3 col-xs-3 control-label">Phone Number</label>
                    <div class="col-lg-5 col-md-4 col-sm-5 col-xs-5">
                        <input type="text" ng-model="edit.phoneNumber" tooltip="Enter the Mobile or Phone Number" class="form-control"  name="phoneNumber" >
                    </div>
                   <!-- <div class="col-lg-4" style="color:red;padding:0" ng-show="editBranch.phoneNumber.$error.pattern">
                        Phone Number should be 10 digit number</div>-->
                </div>

                <div class="form-group">
                    <label class="col-lg-3 col-md-2 col-sm-3 col-xs-3 control-label">Fax Number</label>
                    <div class="col-lg-5 col-md-4 col-sm-5 col-xs-5">
                        <input type="text" ng-model="edit.faxNumber" tooltip="Enter the Fax Number" class="form-control input-text"  name="faxNumber"  autofocus >
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 col-md-2 col-sm-3 col-xs-3 control-label">Email Id</label>
                    <div class="col-lg-5 col-md-4 col-sm-5 col-xs-5">
                        <input type="email" ng-model="edit.email" tooltip="Enter A Valid Email Id" class="form-control"  name="email"  ng-pattern="/^[-a-z0-9~!$%^&*_=+}{\'?]+(\.[-a-z0-9~!$%^&*_=+}{\'?]+)*@([a-z0-9_][-a-z0-9_]*(\.[-a-z0-9_]+)*\.(aero|arpa|biz|com|coop|edu|gov|info|int|mil|museum|name|net|org|pro|travel|mobi|[a-z][a-z])|([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}))(:[0-9]{1,5})?$/" />
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-4" style="color:red;padding:0" ng-show="editBranch.email.$error.pattern">
                        Email Id should be like <b>email@example.com</b></div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 col-md-2 col-sm-3 col-xs-3 control-label">Master Email Id</label>
                    <div class="col-lg-5 col-md-4 col-sm-5 col-xs-5">
                        <input type="email" ng-model="edit.masterEmailId" tooltip="Enter A Valid Email Id" class="form-control"  name="email2"  ng-pattern="/^[-a-z0-9~!$%^&*_=+}{\'?]+(\.[-a-z0-9~!$%^&*_=+}{\'?]+)*@([a-z0-9_][-a-z0-9_]*(\.[-a-z0-9_]+)*\.(aero|arpa|biz|com|coop|edu|gov|info|int|mil|museum|name|net|org|pro|travel|mobi|[a-z][a-z])|([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}))(:[0-9]{1,5})?$/" />
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-4" style="color:red;padding:0" ng-show="editBranch.email2.$error.pattern">
                        Email Id should be like <b>email@example.com</b></div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 col-md-2 col-sm-3 col-xs-3 control-label">Master Email Password</label>
                    <div class="col-lg-5 col-md-4 col-sm-5 col-xs-5">
                        <input type="password" ng-model="edit.masterEmailPassword" tooltip="Enter A Valid Password" name="password" class="form-control" >
                    </div>
                </div>

                <div class="form-group ">
                    <div class="container-fluid text-center">
                        <button type="submit" class="btn btn-color btn-sm" ng-disabled="editBranch.$invalid">Update</button>
                        <button type="button" class="btn btn-color btn-sm" ng-click="cancel()">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

