
<div class="container-fluid" style="height: 100%;padding: 0" ng-init="addAssessment();">
    <section class="container-fluid content-header" style="padding:0">
        <ol class="breadcrumb">
            <li><a onclick="goToHome()"><i class="fa fa-home"></i>Home</a></li>
            <li><a ><i class="fa fa-cubes"></i>Organization</a></li>
            <li><i class="fa fa-plus"></i>Settings</li>
        </ol>
    </section>
    <div class="col-lg-6 col-lg-offset-3 col-md-9 col-md-offset-3 col-sm-11 col-xs-11 base-content" >
        <div class="container-fluid text-success response_msg1" ng-hide="response_msg1 == undefined || response_msg1 == ''"  >{{response_msg1}}</div>
        <div style="border:1px solid rgba(255,255,255,0.15);padding: 0" class="bg-base">
            <div class="container-fluid details-header">
                Grade Setting
            </div>
            <form name="settings" autocomplete="off" class="form-horizontal" ng-submit="postGrades()">

                <fieldset  data-ng-repeat="obj in grades">

                    <div class="form-group">
                        <label class="col-lg-3 col-md-2 col-sm-3 col-xs-3 control-label">Grade</label>
                        <div class="col-lg-5 col-md-4 col-sm-5 col-xs-5">
                            <input type="text" ng-model="obj.grade" capitalize-first  tooltip="Enter the grade" name="" class="form-control" required >
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-3 col-md-2 col-sm-3 col-xs-3 control-label">Min Value</label>
                        <div class="col-lg-5 col-md-4 col-sm-5 col-xs-5">
                            <input type="text" ng-model="obj.minPercentage"  tooltip="Enter the Min percentage" name="" class="form-control" required >
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-3 col-md-2 col-sm-3 col-xs-3 control-label">Max Value</label>
                        <div class="col-lg-5 col-md-4 col-sm-5 col-xs-5">
                            <input type="text" ng-model="obj.maxPercentage"  tooltip="Enter the Max percentage" name="" class="form-control" required >
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="text-center">
                            <button type="button" class="addfields" style="" ng-show="$last" ng-click="addGrade()"><i class="fa fa-plus" rel="popover" ></i></button>
                            <button type="button" class="remove" style="margin-left: 30px" ng-show="$last" ng-click="removeGrade()"><i class="fa fa-times" rel="popover" ></i></button>
                        </div>
                    </div>

                </fieldset>

                <div class="form-group ">
                    <div class="container-fluid text-center">
                        <button type="submit"  class="btn btn-color btn-sm" ng-disabled="settings.$invalid">Create</button>
                        <button type="button"  class="btn btn-color btn-sm" ng-click="cancel()">Cancel</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-11 col-xs-11" style="margin-top: 10px;">
        <div class="alert alert-info" style="margin: 7px;">
            <a href="#" class="close" data-dismiss="alert" aria-label="close" style="line-height: 0.2;margin-top: 3px;">&times;</a>
            <i class="fa fa-space-shuttle faa-passing animated"></i> &nbsp;&nbsp;<strong class="blink_me">Press + symbol to add another Grade</strong>
        </div>
        <div class="alert alert-info" style="margin: 7px;">
            <a href="#" class="close" data-dismiss="alert" aria-label="close" style="line-height: 0.2;margin-top: 3px;">&times;</a>
            <i class="fa fa-space-shuttle faa-passing animated"></i> &nbsp;&nbsp;<strong class="blink_me">Press - symbol to remove currently added Grade</strong>
        </div>
        <div class="alert alert-info" style="margin: 7px;">
            <a href="#" class="close" data-dismiss="alert" aria-label="close" style="line-height: 0.2;margin-top: 3px;">&times;</a>
            <i class="fa fa-space-shuttle faa-passing animated"></i> &nbsp;&nbsp;<strong class="blink_me">Grades for example A+,&nbsp;A,&nbsp;B+,&nbsp;B etc..</strong>
        </div>
    </div>
</div>

