<div class="container-fluid" style="height: 100%;padding: 0px;">
    <section class="container-fluid content-header" style="padding:0">
        <ol class="breadcrumb">
            <li><a onclick="goToHome()"><i class="fa fa-home"></i>Home</a></li>
            <li><i class="fa fa-th"></i>Settings</a></li>
        </ol>
    </section>
    <div class="col-lg-8 base-content table-base" style="height:90%;width:95%">
        <div class="container-fluid"  style="height: 90%;padding:0">


            <div class="container-fluid" style="height: 30px;padding:0;">
                <div class="col-md-3 col-sm-3 col-xs-4" style="font-size: medium;padding: 0 0 10px 0px" >
                    <a ui-sref="^.leave"><button type="button" tooltip="Leaves" ng-click="addLeaves()" class="btn btn-color btn-sm">Leave Setting</button></a>
                </div>
            </div>
            <div class="container-fluid text-success response_msg" style="padding-top: 10px;" ng-hide="response_msg4 == undefined || response_msg4 == ''"  >{{response_msg4}}</div>
            <div  class="container-fluid" style="height:auto;padding:0;" >
                <table class="table table-striped">
                    <thead>
                    <tr>
                       <!-- <th width="20%">Serial No</th>-->
                        <th width="20%">Designation</th>
                        <th width="20%">No of Casual Leave</th>
                        <th width="20%">No of Sick Leave</th>
                        <th width="20%">No of Earned Leave</th>
                        <th width="20%">Term</th>
                        <th width="20%">Action</th>
                    </tr>
                    </thead>
                    <tbody ng-if="leaves_list != undefined || leaves_list.length <= 10">
                    <tr ng-repeat="obj in leaves_list">
                        <!--<td width="20%">{{obj.id}}</td>-->
                        <td width="20%">{{obj.designation}}</td>
                        <td width="20%">{{obj.noOfCasualLeaves}}</td>
                        <td width="20%">{{obj.noOfSickLeaves}}</td>
                        <td width="20%">{{obj.noOfEarnedLeave}}</td>
                        <td width="20%">{{obj.term}}</td>
                        <td width="20%">
                            <a href="#" ng-click="deleteLeave(obj,$index)"><button class="btn-action" title="Delete Leave Setting"><i class="fa fa-times" rel="popover" >&nbsp;Delete</i></button></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div ng-if="leaves_list.length == 0 || leaves_list == undefined" class="noData">
                    No Records Found</div>
            </div>

        </div>
    </div>
    <div class="col-xs-offset-1 col-sm-offset-1" data-ng-include="'views/dialoge.html'" />
</div>